*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #c6e377;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  max-height: 10vh;
}

header ul {
  list-style: none;
}

header button {
  outline: none;
  font-family: "Niramit", sans-serif;
  text-shadow: 5px 2px 10px #729d39;
  color: white;
  font-weight: 900;
  margin-top: 50px;
  -webkit-box-shadow: 1px 1px 10px #fbfad3;
          box-shadow: 1px 1px 10px #fbfad3;
  font-size: 16px;
  padding: 15px 35px 15px 35px;
  background: none;
  border: 1px solid #fbfad3;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

main {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main button {
  color: white;
  font-family: "Niramit", sans-serif;
  padding: 50px;
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 100px;
  -webkit-box-shadow: 1px 1px 10px #fbfad3;
          box-shadow: 1px 1px 10px #fbfad3;
  font-size: 16px;
  background: none;
  border: 1px solid #fbfad3;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main button:hover {
  cursor: pointer;
}

.on {
  display: none;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  height: 10vh;
  color: #fbfad3;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event {
  color: #36622b;
  -webkit-animation: event 2.2s infinite ease-in-out;
          animation: event 2.2s infinite ease-in-out;
}

@-webkit-keyframes event {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1px 1px 10px #fbfad3;
            box-shadow: 1px 1px 10px #fbfad3;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 1px 1px 25px white;
            box-shadow: 1px 1px 25px white;
    color: #729d39;
  }
}

@keyframes event {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 1px 1px 10px #fbfad3;
            box-shadow: 1px 1px 10px #fbfad3;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 1px 1px 25px white;
            box-shadow: 1px 1px 25px white;
    color: #729d39;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main button {
    padding: 10px;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */